.booking-container {
  margin-top: 66px;
  margin-bottom: 30px;
}

.meeting-confirm {
  background-color: white;
  min-height: 550px;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  border: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}

.booking-detail {
  width: 50%;
  border-right: 1px solid var(--text-color-level3, rgba(77, 80, 85, 0.1));
  transition: all 0.22s ease-out;
}

.booking-time {
}
